ament-copyright==0.10.7
ament-cppcheck==0.10.7
ament-cpplint==0.10.7
ament-flake8==0.10.7
ament-index-python==1.2.0
ament-lint==0.10.7
ament-lint-cmake==0.10.7
ament-package==0.13.1
ament-pep257==0.10.7
ament-uncrustify==0.10.7
ament-xmllint==0.10.7
angles==1.14.0
attrs==25.3.0
blinker==1.9.0
certifi==2025.7.9
charset-normalizer==3.4.2
click==8.2.1
click-plugins==1.1.1.2
cligj==0.7.2
domain-coordinator==0.9.2
fiona==1.10.1
Flask==2.3.2
Flask-Cors==4.0.0
GeoAlchemy2==0.14.2
geographiclib==2.0
geopandas==0.14.4
geopy==2.4.1
greenlet==3.0.1
gunicorn==21.2.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
launch==0.17.2
launch-testing==0.17.2
launch-xml==0.17.2
launch-yaml==0.17.2
MarkupSafe==3.0.2
numpy==2.3.1
opencv-python-headless==4.9.0.80
osrf-pycommon==2.0.0
packaging==25.0
pandas==2.3.1
Pillow==10.1.0
pyproj==3.7.1
pyTelegramBotAPI==4.12.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-qt-binding==1.0.8
pytz==2025.2
PyYAML==6.0.1
qt-dotgraph==2.0.1
qt-gui==2.0.1
qt-gui-cpp==2.0.1
qt-gui-py-common==2.0.1
rcutils==4.0.4
requests==2.31.0
resource-retriever==2.5.0
rosidl-adapter==2.2.3
rosidl-cli==2.2.3
rosidl-parser==2.2.3
rosidl-runtime-py==0.9.1
rpyutils==0.2.0
setuptools==78.1.1
shapely==2.1.1
six==1.17.0
SQLAlchemy==2.0.23
tqdm==4.66.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
uuid==1.30
Werkzeug==3.1.3
wheel==0.45.1
xacro==2.0.7
yadisk==3.4.0
